.background {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

.backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.siteContainer{

    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    max-width: 1000px;
}

.header{
    color: white;
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;
    padding: 20px;
}

.listMenu{
    background-color: rgba(50, 50, 50, 0.8);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
}

.listMenuContainer{
    flex-direction: column;
    max-width: fit-content;
    margin: 20px;
}

.listMenuItem{
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.listMenuItem:hover{
    background-color: rgba(100, 100, 100, 0.8);
    transform: scale(1.25);
    transition: all 0.5s ease;
}
.listMenuItemActive{
    background-color: rgba(100, 100, 100, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Card animations */
.cardEnter {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .cardEnterActive {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .cardExit {
    opacity: 1;
    transform: scale(1);
  }
  
  .cardExitActive {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  

.pageEnter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .pageEnterActive {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .pageExit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .pageExitActive {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .contentWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

.listAndContentContainer{
    display: flex;
    flex-direction: row;
justify-content: space-between;
}

.contentContainer{
    flex: 1;
    flex-direction: row;
    background-color: rgba(54, 54, 54, 0.767);
    border-color: antiquewhite;
    border-width: 2px;
    border-radius: 45px;
    padding: 20px;
    margin: 30px;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    color: white;
}

.cardsContainer{
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.card{
    border-radius: 24px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 600px;
    flex-grow: 1;
    padding: 16px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.markdown {
    text-align: center;

    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 1em;
    color: black;
  }

.heroImage{
    max-width: 100%;
    max-height: 250px;
}

.cardImage{
    width: 50%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.projectDetailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
}

.socialsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.socialIcon{
    width: 100px;
    height: auto;
    margin: 10px;
    transition: all 0.3s ease;
}
.socialIcon:hover{
    transform: scale(1.25);
    transition: all 0.5s ease;
}

.workHistoryEntry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    margin-top: 20px;
}
.educationHistoryEntry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    margin-top: 20px;
}

.details {
    overflow: hidden; /* Ensures content doesn't overflow */
    max-height: 0; /* Initially hidden */
    transition: max-height 0.5s ease; /* Smooth transition */
  }
  
  .detailsVisible {
    max-height: 500px; /* Set a large enough value to accommodate content */
  }