#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.background {
  --aspect-ratio: calc(16 / 9);
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  /* This will make the element fill the window while maintaining aspect ratio */
  object-fit: cover;
  
  /* Calculate which dimension to scale by */
  width: 100vw;
  height: calc(100vw / var(--aspect-ratio));
  
  /* If the window is taller than our aspect ratio, switch to height-based scaling */
  @media (max-aspect-ratio: calc(16 / 9)) {
    width: calc(100vh * var(--aspect-ratio));
    height: 100vh;
  }
  
  /* Center the content */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Hide overflow (content will be cropped if needed) */
  overflow: hidden;
  z-index: -1;
}


.read-the-docs {
  color: #888;
}
